.current-day-overlay {
  position: relative;
}

.current-day-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(191, 219, 254, 0.3); /* Light blue with lower opacity */
  pointer-events: none; /* Allows clicks to pass through to the underlying element */
  z-index: 0; /* Place the overlay below the content */
}

.current-day-overlay > * {
  position: relative;
  z-index: 1; /* Place the content above the overlay */
}
